@{
    ViewData["Title"] = "Contact Me";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
<p>Here is where I will dynamically list all the ways to contact me in a fun way!!! (hopefully...)</p>
</div>