
@{
    ViewData["Title"] = "Gallery";
}
<div class="text-center">
<h1>Gallery</h1>

<p> Place pictures of games I have designed and their cool features</p>
<p> Such as weapons, inventory + inventory management, AI + behavior trees </p>
<p> Basically stuff that might not fit easily in GitHub or may just be to much to download.</p>
</div>
<div class = "carouselSize">
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/Images/GamingPC1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Images/GamingPC2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/Images/GamingPC3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
