@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center indexMargin">
    <h1 class="display-4">Welcome to my page</h1>
    <h1 class="display-4"> I am a game developer </h1>
    <p> C++ | Unreal Engine | Behavior Trees | AI Pathing | </p>
</div>
